/* Base Elements */
body {
  background-color: #ccc;
}

button {
  margin: 0.2em; /* for focus outline */
  padding: 0.5em;
  border: 1px solid rgb(0, 80, 255);
  border-radius: 0.5em;
  color: #fff;
  background-color: rgb(0, 160, 255);
  letter-spacing: 1pt;
  font-size: 1em;
  cursor: pointer;
}



/* Base Styles */
